<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  x-data :class="{ 'dark': $store.theme.darkMode }" >

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
</head>

<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" @toggle-dark.window="$store.theme.darkMode = !$store.theme.darkMode; localStorage.darkMode = $store.theme.darkMode;">
    <div>
        <header th:insert="~{fragments/header :: nav}"></header>
        <div layout:fragment="content"
             id='app'></div>
    </div>
    <script type="text/javascript"
            th:src="@{/dist/main.js}"></script>
</body>

</html>
