<nav x-data="{ open: false, userMenu: false }"
     class="bg-gray-300 dark:bg-gray-800"
     xmlsn:th="http://www.w3.org/1999/xhtml">
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button th:replace="fragments/mobile-menu-button">Open main menu</button>
            </div>
            <div class="flex items-center justify-center flex-1 sm:justify-start">
                <div class="flex-shrink-0">
                    <div th:replace="fragments/nav-logo">Momentum</div>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <a th:replace="fragments/nav-link :: to(href='/about', name='About')"></a>
                        <a th:replace="fragments/nav-link :: to(href='/products', name='Products')"></a>
                        <a th:replace="fragments/nav-link :: to(href='/contact', name='Contact')"></a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- Dark mode -->
                <button th:replace="fragments/dark-mode">Toggle Dark Mode</button>

                <!-- Profile dropdown -->
                <div class="relative ml-3">
                    <div sec:authorize="isAnonymous()">
                        <a th:replace="fragments/nav-link :: to(href='/login', name='Login')">Login</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <button th:replace="fragments/user-menu-button">Open User Menu</button>
                    </div>
                    <div th:replace="fragments/user-menu"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu -->
    <div th:replace="fragments/mobile-menu"></div>
</nav>
