<div x-show="open"
     class="sm:hidden"
     @click.away="open = false"
     x-transition:enter="transition ease-out duration-100"
     x-transition:enter-start="opacity-0 transform scale-95"
     x-transition:enter-end="opacity-100 transform scale-100"
     x-transition:leave="transition ease-in duration-75"
     x-transition:leave-start="opacity-100 transform scale-100"
     x-transition:leave-end="opacity-0 transform scale-95">
    <div class="px-2 pt-2 pb-3 space-y-1">
        <a th:replace="fragments/nav-link :: toMobile(href='/about', name='About')"></a>
        <a th:replace="fragments/nav-link :: toMobile(href='/products', name='Products')"></a>
        <a th:replace="fragments/nav-link :: toMobile(href='/contact', name='Contact')"></a>
    </div>
</div>
